services:
  - type: web
    name: laravel-app
    env: docker
    plan: free
    buildCommand: "npm install && npm run build && php artisan config:cache"
    startCommand: "php artisan serve --host 0.0.0.0 --port 80"
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: database
          property: connectionString
      - key: SESSION_CONNECTION
        value: pgsql
databases:
  - name: database
    plan: free